*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Cambria;
  color: black;
}

.full-screen-header{
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  color: white;
  position: relative;
  background-color: #454454;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding:.5rem 1rem;
}

.nav-top{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
  background-color: white;
}

.fancy-wave{
  position: relative;
  bottom: 0;
  width: 100vw;
}

.logo{
  position: fixed;
  top: 50px;
  left: 25px;
  width: 50px;
  border-radius: 5rem;
  margin: 1rem;
}

.nav-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a{
  text-decoration: none;
  margin-left: 1rem;
  color: black;
}

.nav-list a:hover{
  color: #CCC;
}

.title{
  font-size: 3rem;
  margin-top: 20vh;
}

.sub-title{
  font-size: 1.5rem;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

:root {
  font-size: 16px; /* Adjust base font size if necessary */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns wide */
  gap: 1rem; /* Gap between grid items */
  padding: 2rem;
}

.grid-item {
  display: flex;
  flex-direction: column; /* Arrange image and text vertically */
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center; /* Center text */
  cursor: pointer; /* Pointer cursor on hover */
}

.item-image {
  width: 100%; /* Full width */
  max-width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem; /* Space between image and text */
  object-fit: cover; /* Cover the area without distortion */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

.modal-content {
  background-color: white;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 2rem;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, adjust as needed */
  max-width: 500px; /* Max width for the modal */
  text-align: left; /* Left align text */
  display: flex;
  flex-direction: column;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr; /* Single column layout on small screens */
  }
}

main{
  background-color: #DCDCE9;
}

footer{
  padding-left: 1rem;
}
