*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Cambria;
    color: black;
}

.full-screen-header{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    flex-direction: column;

    color: black;
    position: relative;
    background-color: #CDD9DD;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:.5rem 1rem;
}

.nav-top{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    background-color: white;
}

.logo{
    position: fixed;
    z-index: 10;
    top: 50px;
    left: 25px;
    width: 50px;
    border-radius: 5rem;
    margin: 1rem;
}

.nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    margin-left: 1rem;
    color: black;
}

.nav-list a:hover{
    color: hsl(0, 0%, 80%);
}

.block1{
    position: absolute;
    height: 80vh;
    left:-10vw;
    top: -10vh;
}
.block2{
    position: absolute;
    overflow: hidden;
    height: 80vh;
    right:-15vw;
    top: 18vh;
}

.title{
    font-size: 3rem;
    margin: 0;
}

.sub-title{
    width: 40vw;
    font-size: 1.5rem;
    text-align: center;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.btn{
    background-color: #7783A4;
    color: white;
    border-radius: 10000px;
    padding: .25em 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

.btn:hover, .btn:focus{
    /* a paler colour */
    background-color: #8d93a5
}

.section{
    padding: 2rem;
}

.section-title{
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.collapsible {
    background-color: #CDD9DD;
    font-family: inherit;
    font-weight:bold;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
}

.collapsible:hover {
    color: grey;
}



.day-subheading{
    color:grey;
}

.day-grid{
    max-height: 0;
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    background-color: #CDD9DD;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.day-grid-item{
    display: flex;
    align-items: center;
}

.day-grid-item img{
    margin-bottom: .5rem;
    margin-right:.5rem;
    width:150px; 
}

.copyright{
    text-align: center;
}
